/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/login/login.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.main-shadow {
  box-shadow: 8px 8px 0 #000;
}
.main-shadow-blue {
  box-shadow: 8px 8px 0 #3b82f6;
}
.main-shadow-sm {
  box-shadow: 4px 4px 0 #000;
}
